# Local development database (outside Docker)
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/db

# Used by docker-compose to build the Docker database URL
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=db

# Leave blank if you want to use it locally in Docker
# Get from upstash if you want cloude service
REDIS_URL=

ACCESS_SECRET_KEY=YOUR_ACCESS_SECRET_KEY
ACCESS_MINUTES_EXPIRES=30

REFRESH_SECRET_KEY=YOUR_REFRESH_SECRET_KEY
REFRESH_DAYS_EXPIRES=7

ALGORITHM=HS256

# Leave true on first run to create tables
AUTO_CREATE_TABLES=true